



* {
    font-family: calibri;
}

body {
    display: flex;
    margin: 0px;
}

aside {
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #FFB300;
    color: black;
}

img {
    border-radius: 50%;
    align-self: center;
}

#conteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

h1 {
    color: black;
    font-size: 32px;
}

.element h2 {
    background-color: black;
    color: #FFB300;
    flex-grow: 1;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

article /* partie personnelle*/{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    text-align: left;
    padding-left: 20px;
}

strong {
    color: #FFB300;
    font-weight: bold;
}

p {
    font-size: 16px;
}

div {
    font-size: 16px;
}

hr {
    border-style: solid;
    border-color: #FFB300;
    background-color: #FFB300;
    margin-left: 15px;
    margin-right: 15px;
}

.element i {
    border-style: solid;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 50px;
    padding-top: 7px;
}
article i
{
color:#FFB300;
}

element .e3{
	justify-content: center;
}

article/*partie cursus*/
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 65%; 
	margin: 5%;
	text-align: left;
}

span{
    display: inline-flex;
    justify-content: space-evenly;
    margin: 30px;
    align-items: center;

}
#conteneur experience {
	display: inline-flex;
	
}
#conteneur formation {
	display: inline-flex;
}
.date{
    justify-content: flex-start;
    grid-row-gap: 
}
.emploi{
    justify-content: flex-end;
}
.formation{
    justify-content: flex-end;
}
.references{
	justify-content: flex-start;
}
.emploi p{
	flex-wrap: wrap;
}
.identity{
	justify-content: flex-end;
}
@media screen and (max-width: 1280px)
{
    /* Rédigez vos propriétés CSS ici */
}